doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    // add usemin block here
    //- PRINT_SCRIPTS
    script(type='text/javascript', src='javascripts/test.js')
    script(type='text/javascript', src='javascripts/folder/test2.js')
    script(type='text/javascript', src='javascripts/folder/aa.js')
    //- END_PRINT_SCRIPTS
